= simple_form_for alert, html: { class: 'form-horizontal' } do |form|
  %fieldset
    %legend Set up a new reminder
    = render 'form', form: form
  .form-actions
    = form.button :submit, "I promise to not anger my mother", class: "btn-primary"
