= simple_form_for @alert, html: { class: 'form-horizontal' } do |form|
  %fieldset
    %legend Fix this reminder
    = render 'form', form: form
  .form-actions
    = form.button :submit, "I still promise to not anger my mother", class: "btn-primary"
    %a.btn{ href: alerts_path }
      Cancel
